@keyframes Hint_show {
  0% {
    opacity: 0;
    transform:translateY(-6px)
  }

  to {
    opacity: 1;
    transform:translateY(0)
  }
}

@keyframes ModalShow {
  0% {
    opacity: 0;
    transform:translateY(-10px)
  }

  to {
    opacity: 1;
    transform:translateY(0)
  }
}
@keyframes loading {
  from {
    background: $loading-background;
    border-color: $loading-border;
  }
  50% {
    background: $loading-process;
    border-color: $loading-process;
  }
  to {
    background: $loading-background;
    border-color: $loading-border;
  }
}
