.card {
  margin: 0 auto;
  width: 1100px;

  &__workspace {
    display: flex;
    width: 100%;

    &-right {
      width: 300px;
      min-width: 300px;
      flex-grow: 0;
      margin-left: 20px;
    }

    &-left {
      flex-grow: 1;
      width: 800px;
    }
  }
}

#Editor {
  padding: 0;
  max-width: 100%;
}
